$font-path: "../assets/fonts";

$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:    #2b1813,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f2e3ce,
  dark:       #2b1813
);

$background-color: color($colors, light);
$toolbar-background: color($colors, dark);

@import "ionic.theme.default";
@import "ionic.ionicons";

@import "roboto";
@import "noto-sans";
