<div>
  <ion-list>
    <button menuClose ion-item (click)="homeClicked()">
      <ion-icon name="home"></ion-icon>
      Dashboard
    </button>
    <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p.title)">
      <ion-icon name="{{p.icon}}"></ion-icon>
      {{p.title}}
    </button>
    <button menuClose ion-item (click)="logoutClicked()">
      <ion-icon name="unlock"></ion-icon>
      Logout
    </button>
    <button menuClose ion-item (click)="exitClicked()">
      <ion-icon name="exit"></ion-icon>
      Exit
    </button>
  </ion-list>
</div>
