<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Workouts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
  <ion-list>
    <button ion-item *ngFor="let workout of workouts">
      <strong>Date:</strong> {{workout.session_start}} - {{workout.session_end}}<br>
      <strong>Duration:</strong> {{workout.duration | timer}}<br>
      <strong>Attendees:</strong>
      <ion-list>
        <ion-item *ngFor="let member of workout.members">{{member.name}}</ion-item>
      </ion-list>
    </button>
  </ion-list>
</ion-content>
